html {
    height: 100vh;
}

* {
    margin: 0px;
    padding: 0px;
}

.sidebar {
    width: 200px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: cadetblue;
}

.logo {
    align-self: center;
    margin-top: 40px;
}

.nintendogs {
    width: 150px;
    height: 75px;
}

nav {
    margin: 30px;
    align-items: center;
}

a {
    display: flex;
    flex-direction: column;
    text-decoration: none;
    align-items: center;
    color: #2b2b2b;
    flex: 1;
}

a:hover {
    color: #2b2bb2;
    transition: 300ms;
}

.userAvatar {
    margin-top: auto;
    display: flex;
    flex-direction: column;
    padding-bottom: 20px;
    align-items: center;
}

.avatar {
    width: 50px; 
    height: 50px; 
    border-radius: 50%;
    align-items: flex-end;
}

.username {
    margin-top: 5px;
    color: #2b2b2b;
    align-items: flex-end;
  }