* {
    margin: 0px;
    padding: 0px;
    font-size: 120%;
}

.groupColor {
    display: flex;
    height: 100vh;
    gap: 100px;
}

section {
    display: flex;
    flex-direction: column;
    padding: 50px 0;
}

ul {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 30px;
}

li {
    display: flex;
    background-color: white;
    height: 100px;
    width: 80px;
    justify-content: center;
    align-items: center;
}

p {
    display: flex;
    align-items: flex-start;
}

#green {
   background-color: rgba(186,255,201);
   order: 3;
   flex: 1;
}

#yellow {
    background-color: rgba(255,255,186);
    order: 1;
    flex: 1;
}

#orange {
    background-color: rgba(255,223,186);
    order: 4;
    flex: 2;
}

#red {
    background-color: rgba(255,179,186);
    order: 2;
    flex: 1;
}

section p {
    display: flex;
    text-align:right;
}

#blue {
    background-color: rgba(186,225,255);
    order: 5;
    flex: 1;
}