body {
    margin: 20px;
    margin-top: 10%;
    display: flex;
    justify-content: center;
}

.calculadora {
    display: grid;
    font-size: 30px;
    border: 1px solid black;
    border-radius: 20px;
    overflow: hidden;
    position: absolute;
    width: 500px;
    height: 500px;
}

.calculadora > div:not(.calculadora1) {
    display: grid;
    text-align: center;
    align-items: center;
    border: 1px solid black;
    margin: -1px;
}

.calculadora1 {
    background-color: rgba(66,76,82,255);
    color: white;
    grid-column: 1 / 5;
    grid-row: 1;
    display: grid;
    text-align: end;
    align-items: center;
    border: 1px solid black;
    margin: -1px;
    font-weight: bold;
    padding-right: 10px;
}

.calculadora2, .calculadora3, .calculadora4, .calculadora5 {
    background-color: rgba(210,220,227,255);
}

.calculadora2, .calculadora3, .calculadora5 {
    font-weight: bold;
}

.calculadora2 {
    grid-column: 1;
    grid-row: 2;
}

.calculadora3 {
    grid-column: 2;
    grid-row: 2;
}

.calculadora4 {
    grid-column: 3;
    grid-row: 2;
}

.calculadora5 {
    grid-column: 4;
    grid-row: 2;
}

.calculadora6 {
    grid-column: 1;
    grid-row: 3;
    background-color: rgba(239,242,245,255);
}

.calculadora7 {
    grid-column: 2;
    grid-row: 3;
    background-color: rgba(239,242,245,255);
}

.calculadora8 {
    grid-column: 3;
    grid-row: 3;
    background-color: rgba(239,242,245,255);
}

.calculadora9 {
    grid-column: 1;
    grid-row: 4;
    background-color: rgba(239,242,245,255);
}

.calculadora10 {
    grid-column: 2;
    grid-row: 4;
    background-color: rgba(239,242,245,255);
}

.calculadora11 {
    grid-column: 3;
    grid-row: 4;
    background-color: rgba(239,242,245,255);
}

.calculadora12 {
    grid-column: 1;
    grid-row: 5;
    background-color: rgba(239,242,245,255);
}

.calculadora13 {
    grid-column: 2;
    grid-row: 5;
    background-color: rgba(239,242,245,255);
}

.calculadora14 {
    grid-column: 3;
    grid-row: 5;
    background-color: rgba(239,242,245,255);
}

.calculadora15 {
    grid-column: 1;
    grid-row: 6;
    background-color: rgba(239,242,245,255);
}

.calculadora16 {
    grid-column: 2;
    grid-row: 6;
    background-color: rgba(239,242,245,255);
}

.calculadora17 {
    grid-column: 3;
    grid-row: 6;
    background-color: rgba(239,242,245,255);
}

.calculadora18 {
    grid-column: 4;
    grid-row: 3 / span 4;
    background-color: rgba(247,112,119,255);
}
